body{
    font-family: 'Roboto' sans-serif;
    font-weight: Regular;
    Size: 16px; 
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
    background-color: #FCFCFC;
}
.logo{
    color: #4D5AE5;
}
.studio{
    color: #2E2F42;
}